body {
  background-image: url(../Images/fondo.jpg);
  background-size: 100%;
  margin: 0;
}
.canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;
}

.canvas-game {
  border: 2px solid azure;
  background-color: black;
  opacity: 0.8;
  cursor: none;
}

.bg-canvas {
  background-image: url(../Images/New\ Piskel.gif);
  background-repeat: no-repeat;
  background-position: 220px;
  background-position-y: bottom;
}

.player-wins {
  font-family: "Courier New", Courier, monospace;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 3rem;
}
#start {
  border: 2px solid orangered;
  border-radius: 100%;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  width: 150px;
  height: 150px;
  opacity: 0.5;
}
#start:hover {
  opacity: 0.7;
}
button:hover {
  color: orangered;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}
.game-over {
  opacity: 0.7;
}

.centro {
  position: absolute;
  font-size: 4rem;
  top: 400px;
  color: white;
  text-shadow: 2px 1px 2px black;
}

.paddle {
  width: 501px;
  height: 50px;
}
