body{
    margin:0
    
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 5rem;
    
}

.canvas-game {
    border:3px solid red;
    background-color:black;
}

.bg-canvas{
    background-image: url(../Images/Atari_Pong_Console_logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -115px;
    border:1px solid black
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#start{
    font-size: 2rem;
    width: auto;
}
.hidden{
    visibility: hidden;
}
.game-over{
    opacity: 0.7;
}

.centro{
    position: relative;
    top:500;
    left:500;
}